<div class="our-services">
    <div class="our-services-box">
        <div class="our-services-item">
            <div class="our-services-icon">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="our-services-body">
                <h3>24/7 đánh giá của khách hàng</h3>
                <label>Lorem ipsum dolor, sit amet consectetur adipisicing.</label>
            </div>
        </div>

        <div class="our-services-item">
            <div class="our-services-icon">
                <i class="fa-regular fa-credit-card"></i>
            </div>
            <div class="our-services-body">
                <h3>Thanh toán an toàn</h3>
                <label>Lorem ipsum dolor, sit amet consectetur adipisicing.</label>
            </div>
        </div>

        <div class="our-services-item">
            <div class="our-services-icon">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>
            <div class="our-services-body">
                <h3>Đảm bảo hoàn trả tiền</h3>
                <label>Lorem ipsum dolor, sit amet consectetur adipisicing.</label>
            </div>
        </div>
    </div>
</div>



<div class="footer">
    <div class="footer-box">
        <div class="footer-i f1">
            <h4>Liên hệ</h4>
            <label>Địa chỉ: Hân Hới Hiệp</label><br>
            <label>Thành Phố: Hồ Chí Minh</label><br>
            <label>Zip Code: 7000</label><br>
            <label>Số điện thoại:012345678</label><br>
            <label>Facebook: Thanh Phú</label><br>
            <label>Instagram: micky12235</label><br> <!--All Example-->
        </div>

        <div class="footer-i f2">
            <h4>Ủng hộ chúng tôi</h4>
            <label>Đến đây</label><br>
            <label>Những người đã ủng hộ</label><br>
            <label>Danh sách nhân viên</label><br>
            <label>Tất cả chi nhánh</label><br>
            <label>Nhà tài trợ</label><br>
            <label>Công ty tài chính</label><br>
        </div>

        <div class="footer-i f3">
            <h4>Các bài đăng gần đây</h4>
            <label>Sản phẩm hot nhất</label><br>
            <label>Sản phẩm bán chạy nhất</label><br>
            <label>Sản phẩm đánh giá tốt nhất</label><br>
        </div>

        <div class="footer-i f4">
            <h4>Tịm phụ kiện Billiards</h4>
            <label>CÔNG TY TRÁCH NHIỆM HỮU HẠN 1 THÀNH VIÊN TỰ CHẾ TỰ BÁN, TỰ LÀM TẤT CẢ HƠN 100 CHI NHÁNH TOÀN QUỐC, VÀ
                ĐÂY LÀ 1 TRANG WEB TỰ CHẾ MAMG TÍNH CHẤT THAM KHẢO</label><br>
            <input type="text" placeholder="Email Adress">
            <button><i class="fa-solid fa-share"></i></button>
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>

        </div>
    </div>
</div>