      <!-- MAIN -->
      <main>

        <div class="head-title">
          <!-- Existing content... -->
          <div class="left">
            <h1>Manage Product </h1>
            <ul class="breadcrumb">
              <li>
                <!-- <a href="#">Dashboard</a>
                  -->
        <input type="text" class="col-3" [(ngModel)]='listFilter'>

              </li>
              <li><i class="bx bx-chevron-right"></i></li>

            </ul>
          </div>
        </div>
        
        <!-- Thêm bảng mới vào đây -->
        <div class="table-wrapper">
          <table class="styled-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>ID_Cate</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Hidden</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let sp of products | paginate: { itemsPerPage: 5, currentPage: p }">
              <tr>
                <td>{{sp.id}}</td>
                <td>{{sp.id_cate}}</td>
                <td>{{sp.name}}</td>
                <td><img src="../../../assets/image/{{sp.image}}" alt="Product 1" /></td>
                <td>{{sp.price}}</td>
                <td>{{sp.hidden}}</td>
                <td>
                  <button class="btn-edit" routerLink="/admin/product-admin/{{sp.id}}">Edit</button>
                  <button class="btn-delete" (click)="delete(sp.id)">Xóa</button>
                </td>
               
              </tr>/
            </tbody>

            
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>  
        </div>
      </main>
      <!-- MAIN -->
