      <!-- MAIN -->
      <main>
        <div class="head-title">
          <!-- Existing content... -->
          <div class="left">
            <h1>Manage Product </h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>

            </ul>
          </div>
        </div>
        
        <!-- Thêm bảng mới vào đây -->
        <div class="table-wrapper">
          <table class="styled-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>ID_Cate</th>
                <th>Tên</th>
                <th>Image</th>
                <th>Giá</th>
                <th>Trạng Thái</th>
                <th>Hành Động</th>
              </tr>
            </thead>
            <tbody *ngFor="let sp of products">
              <tr>
                <td>{{sp.id}}</td>
                <td>{{sp.id_cate}}</td>
                <td>{{sp.name}}</td>
                <td><img src="../../../assets/image/{{sp.image}}" alt="Product 1" /></td>
                <td>{{sp.price}}</td>
                <td>Available</td>
                <td>
                  <button class="btn-edit" routerLink="/admin/product-admin/{{sp.id}}">Edit</button>
                  <button class="btn-delete" (click)="delete(sp.id)">Xóa</button>
                </td>
               
              </tr>/
            </tbody>

            
          </table>
        </div>
      </main>
      <!-- MAIN -->
