.table-wrapper {
	margin-top: 20px;
	overflow-x: auto;
    border: 1px solid #E2AF5A;
  }
  
  .styled-table {
	width: 100%;
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 1.5em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
	background-color: #E2AF5A;
	color: #ffffff;
	text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
	padding: 12px 15px;
    color: #ffff;
  }
  tbody image{
	width: 30px;
  }
  
  .styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
	border-bottom: 2px solid #E2AF5A;
  }
  
  .styled-table tbody tr.active-row {
	font-weight: bold;
	color: #E2AF5A;
  }
  .styled-table tbody td img{
	width: 70px;
  }
  .btn-edit, .btn-delete {
	padding: 5px 10px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .btn-edit {
	background-color: #ffa502;
	color: white;
  }
  
  btn-edit:hover {
	background-color: #ffff;
	color: black;
  }
  
  .btn-delete {
	background-color: #ff4757;
	color: white;
  } 
  .btn-delete:hover {
	background-color: #ffff;
	color: black;
  }
main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #E2AF5A;
}
.styled-table thead th,
.styled-table tbody td {
  text-align: center;
}


/* next page  */
/* Đây chỉ là ví dụ CSS, bạn có thể tùy chỉnh theo nhu cầu */
.pagination-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  .pagination-wrapper .pagination-previous,
  .pagination-wrapper .pagination-next {
	padding: 5px 10px;
	margin: 0 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .pagination-wrapper .pagination-previous.disabled,
  .pagination-wrapper .pagination-next.disabled {
	color: #ccc;
	cursor: default;
	border-color: #ccc;
  }
  
  .pagination-wrapper .pagination-page {
	padding: 5px 8px;
	margin: 0 3px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .pagination-wrapper .pagination-page.selected {
	background-color: #ffa502;
	color: white;
	border-color: #007bff;
  }
  
  /* Thêm mọi style khác bạn muốn áp dụng */