<div class="head-title">
    <!-- Existing content... -->
    <div class="left">
        <h1> Add product </h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class="bx bx-chevron-right"></i></li>

        </ul>
    </div>
</div>




<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>ID</label>
        <input type="number" formControlName="id" class="form-control">
        <span *ngIf="productForm?.get('id')?.invalid &&
        productForm?.get('id')?.touched">
            Bạn chưa nhập ID
        </span>
    </div>
    <div class="form-group">
        <label>ID_Cate</label>
        <input type="number" formControlName="id_cate" class="form-control">
        <span *ngIf="productForm?.get('id_cate')?.invalid &&
        productForm?.get('id_cate')?.touched">
            Bạn chưa nhập ID_cate
        </span>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control">
        <!-- Đoạn này sẽ kiểm tra productForm và productName có tồn tại trước khi truy cập đến valid và touched -->
        <span *ngIf="productForm?.get('name')?.invalid &&
        productForm?.get('name')?.touched">
            Bạn chưa nhập tên
        </span>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" formControlName="price" class="form-control">
        <span *ngIf="productForm?.get('price')?.invalid &&
        productForm?.get('price')?.touched">
            Bạn chưa nhập Price
        </span>
    </div>
    <div class="form-group">
        <label>Prcice_sale</label>
        <input type="number" formControlName="price_sale" class="form-control">
        <span *ngIf="productForm?.get('price_sale')?.invalid &&
        productForm?.get('price_sale')?.touched">
            Bạn chưa nhập Price_sale
        </span>
    </div>
    <div class="form-group">
        <label>Image</label>
        <input type="text" formControlName="image" class="form-control">
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="date" formControlName="date" class="form-control">
    </div>
    <div class="form-group">
        <label>Hidden</label>
        <input type="number" formControlName="hidden" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>