<div class="head-title">
    <!-- Existing content... -->
    <div class="left">
        <h1> Thanh toán đơn hàng </h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class="bx bx-chevron-right"></i></li>

        </ul>
    </div>
</div>




<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>ID</label>
        <input type="number" formControlName="id" class="form-control">
        <span *ngIf="paymentForm?.get('id')?.invalid &&
        paymentForm?.get('id')?.touched">
            Bạn chưa nhập ID
        </span>
    </div>
    <div class="form-group">
        <label>ID_User</label>
        <input type="number" formControlName="id_user" class="form-control">
        <span *ngIf="paymentForm?.get('id_cate')?.invalid &&
        paymentForm?.get('id_cate')?.touched">
            Bạn chưa nhập ID_User
        </span>
    </div>
    <div class="form-group">
        <label>Ngày mua</label>
        <input type="date" formControlName="date" class="form-control">
     
    </div>
    <div class="form-group">
        <label>Tên khách hàng</label>
        <input type="text" formControlName="customer" class="form-control">
      
    </div>
    <div class="form-group">
        <label>Số điện thoại</label>
        <input type="number" formControlName="phone" class="form-control">

    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" formControlName="address" class="form-control">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
